<h1>ようこそ！</h1>
<p>こちらはRuby on Railsで作成したメディアポートフォリオです。</p>
<p>実装した機能の概要は<a target=”_blank” href="https://github.com/yutaro1031/ror-portfolio">README</a>を参照ください。</p>

<br>
<p>下記がアカウント情報となりますので、自由にログインしてみてください。</p>
<br>
<p><strong>管理者ユーザー</strong></p>
<p>ユーザー名: admin</p>
<p>パスワード: password</p>
<br>
<p><strong>非管理者ユーザー</strong></p>
<p>ユーザー名: normal</p>
<p>パスワード: password</p>