#articles {
  // 記事一覧
  #index {
    .tag_boxes {
      margin-top: 10px;
      margin-bottom: 10px;
      .tag_img {
        max-width: 100%;
        height: auto;
        :hover {
          opacity: .6;
        }
      }
    }
    h3 {
      margin: 10px 0;
    }
    h4 {
      margin: 30px 0;
      font-size: 20px;
    }
    #article-list {
      padding: 0;
      li {
        list-style: none;
        border-bottom: 1px solid #ddd;
        :hover {
          opacity: .6;
        }
        a {
          margin: 10px 0;
          display: flex;
          position: relative;
        }
      }
    }
    .eyecatch_images {
      width: 30%;
      img {
        width: 100%;
      }
    }
    .article_info {
      color: black;
      width: 70%;
      padding-left: 10px;
    }

    // 見出しフォントサイズ
    @media (min-width: 575.99px) {
      .new_article_headers {font-size: 20px;}
      .popular_article_headers {font-size: 10px;}
    }
    @media (max-width: 575.98px) {
      .new_article_headers {font-size: 20px;}
      .popular_article_headers {font-size: 20px;}
    }
    @media (max-width: 767.98px) {
      .new_article_headers {font-size: 14px;}
      .popular_article_headers {font-size: 14px;}
    }

    .article_meta {
      font-size: 10px;
      position: absolute;
      bottom: 10px;
      right: 0;
      color: #666;
    }
  }

  // 記事編集
  #edit {
    .container {
      max-width: 1500px;
      padding: 0 100px;
    }
    .saving {
      color: #FFCC00;
      font-weight: bold;
    }
    .saved {
      color: #00FF00;
      font-weight: bold;
    }
    .failed-save {
      color: #FF0000;
      font-weight: bold;
    }
    .form-group {
      padding: 10px;
    }
    .form-side {
      border: solid 2px;
      margin-bottom: 20px;
      h5 {
        padding: 10px 0 10px 10px;
        border-bottom: solid 2px;
      }
      #edited-list {
        height: 100px;
        font-size: 14px;
        text-align: center;
      }
      .form-img {
        margin: 10px;
        height: 150px;
        overflow: hidden;
      }
      .eyecatch_present_img, #eyecatch_img_prev {
        max-width: 100%;
      }
      .btn {
        display: inline-block;
      }
    }
    .btn_wrap {
      text-align: center;
      margin: 10px 0;
    }
  }
  .adsense_images {
    text-align: center;
    img {
      width: 100%;
      max-width: 345px;
    }
  }

  //記事詳細画面
  #show {
    #article-tags {
      margin: 20px 0;
      h1 {
        font-size: 22px;
      }
    }
    h4 {
      margin: 30px 0;
      font-size: 20px;
    }
    #article-list {
      padding: 0;
      li {
        list-style: none;
        border-bottom: 1px solid #ddd;
        a {
          margin: 10px 0;
          display: flex;
          position: relative;
        }
      }
      li:hover {
        opacity: .6;
      }
    }
    .eyecatch_images {
      width: 30%;
      img {
        width: 100%;
      }
    }
    .article_info {
      color: black;
      width: 70%;
      padding-left: 10px;
    }

    // 見出しフォントサイズ
    @media (min-width: 575.99px) {
      .popular_article_headers {font-size: 10px;}
    }
    @media (max-width: 575.98px) {
      .popular_article_headers {font-size: 20px;}
    }
    @media (max-width: 767.98px) {
      .popular_article_headers {font-size: 14px;}
    }

    .article_meta {
      font-size: 10px;
      position: absolute;
      bottom: 10px;
      right: 0;
      color: #666;
    }
    .adsense_images {
      margin: 10px 0;
    }
  }
}
